<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      
      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css">
      <link media="screen" rel="stylesheet" href="{{ ASSET_PATH }}/css/main.css">
      <link media="handheld" rel="stylesheet" href="{{ ASSET_PATH }}/css/mobile.css">

      <!-- Google Fonts -->
      <!--<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>-->
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
      <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
      <!--<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">-->
      <!--<link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">-->
      <!--<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">-->
      <!--MathJax -->
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <div class="site">
      <div class="sidebar-outer">
      <div class="sidebar" id="sidebar">
        <a href="{{ HOME_PATH }}" class="header-link">
          <div class="header">
            <h1 class="title">random<br />projections</h1>
            <span class="tagline"><br />a blog about machine learning</span>
          </div>
        </a>
        <div class="posts">
          <ul class="posts-list">
            {% for post in site.posts %}
              <li class="post-link">
                <a class="post-title" href="{{ post.url }}">
                  <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span><br />{{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a href="/about/" class="footer-link">about</a> <span class="separator">&bull;</span>
            <a href="https://github.com/thomlake?tab=repositories" class="footer-link">github</a>
          </span>
        </div>
      </div>
      </div>
      <div class="content">
        {{ content }}
      <div>
    </div>
  </body>
</html>
