---
layout: landing
---

<div class="home">
  <!-- <h1 class="page-heading">Posts</h1> -->
  <!-- <h1 class="post-title">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        <!-- <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span> -->

        <h1 style="margin-bottom: 5px;">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        <p>
        {% if post.summary %}
          {{ post.summary }}
        {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
