* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
  color: #333;
  background-color: #fafbfc;
  font-family: 'Raleway', Arial, sans-serif;
}

.site {
    max-width: 1024px;
    margin-left: 0;
    margin-right: auto;
}

/* Sidebar */

.sidebar-outer {
    font-family: Raleway, Arial, sans-serif;
    /*background-color: #00ff00;*/
    float: left;
    width: 20%;
    margin-top: 10px;
}

.sidebar {
    text-align: center;
    border-right: 2px solid #e7e7e7;
}

a.header-link {
    color: #8085C1;
    text-decoration: none;
}

a.header-link:active {
    color: #66a61e;
}

.header {
    margin-bottom: 10px;
}

a.header-link:active .tagline {
    color: #66a61e;
}

.tagline {
    color: #777;
}

.title {
    line-height: 0.7em;
}

/* Posts in sidebar */
.posts {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.posts a {
  text-transform: lowercase;
  text-decoration: none;
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.3em;
  margin-bottom: 10px
}

.posts span {
    font-size:0.8em;

}

/* Footer */
.footer {
    color: #8085C1;
}

.footer a {
    color: #8085C1;
    text-decoration: none;
}

/* End Sidebar */

/* Content Area */
.content {
    float: right;
    width:  80%;
    margin-top: 10px;
    background-color: #fafbfc;
}

.content div { 
  background-color: #fafbfc;
}

.content a {
    text-decoration: none;
    border-bottom: 1px dashed #8085C1;
    color: #8085C1;
}

.content a:active {
    color: #66a61e;
    border-bottom: 1px dashed #66a61e;
}

/* Posts */
div#post-info {
    margin-left:20px;
    margin-bottom:20px;
}


div.post {
    margin-left:20px;
}

.post h2 {
    margin-top: 20px;
}

.post h3 {
    margin-top: 20px;
}

.post p {
  font-family: 'Droid Serif', Georgia, Times, serif;
  text-align: justify;
  line-height:1.5em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
}

.post pre code {
  border: none;
}

.inlined { display:inline; }

pre { white-space: pre; overflow: auto; }

.post ul, ol {
    margin-top: 10px;
}

.post li {
  font-family: 'Droid Serif', Georgia, Times, serif;
  text-align: justify;
  line-height:1.5em;
  margin: 0px 0 10px 30px;

}

/* Other stuff */

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: #777;
}

.grey-box {
    background-color:#444; 
}

.nice-table
{
    border-collapse: collapse;
    background-color: #eee;
    border: 2px solid black;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nice-table th
{
    background-color:#444; 
    color:#fff;
}

.nice-table th, td
{
    padding: 2px 15px 2px 2px;
    text-align: right;
    
}

.nice-table caption
{
    caption-side: bottom;
    text-align: center;
}

/* About */
div.about-me-content {
    /*font-family: 'Droid Serif', Georgia, Times, serif;*/
    max-width:420px;
    min-height:170px;
    text-align: justify;
    margin-left: 20px;
}

.about-me-content img {
    float:left;
    margin: 6px 10px 10px 0px;
}
