<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
       <p style="text-align: center">
        <a href="https://github.com/thomlake">
          <!-- <span class="icon icon--github">{% include icon-github.svg %}</span> -->
          <span class="username">github</span>
        </a>|
        <a href="https://scholar.google.com/citations?user=GoZsJjYAAAAJ&hl=en">
          <!-- <span class="icon icon--scholar">{% include icon-google-scholar.svg %}</span> -->
          <span class="username">scholar</span>
        </a>|
        <a href="https://www.linkedin.com/in/thomlake/">
          <!-- <span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span> -->
          <span class="username">linkedin</span>
        </a>|
        <a href="https://bsky.app/profile/thomlake.bsky.social">
          <!-- <span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span> -->
          <span class="username">bsky</span>
        </a>
      </p>
  </div>

</footer>
